# Electron 镜像配置
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Node.js 镜像
registry=https://registry.npmmirror.com/
